Repository Tnalxmsk/dear-front, pull requests merged in 2024-12, with the labels that each got.

#4 Feature/#2 home
  src/assets/letter.svg
  src/components/home/Card.styles.ts
  src/components/home/Card.tsx
  src/components/home/CardWidget.styles.ts
  src/components/home/CardWidget.tsx
  src/components/home/Home.tsx
  src/pages/HomePage.tsx
  src/styles/colors.ts
  src/styles/fonts.ts
  src/types/home/home.ts
Labels: Feat 🔧, Style 🎨

#13 Feature/#10 letter select
  src/assets/back.svg
  src/assets/bg-home-bottom.png
  src/assets/bg-home.png
  src/assets/bg-paper-type-four.png
  src/assets/bg-paper-type-one.png
  src/assets/bg-paper-type-three.png
  src/assets/bg-paper-type-two.png
  src/assets/bg-select.png
  src/assets/check.svg
  src/assets/home-background-bottom.png
  src/assets/home-background.png
  src/assets/next.svg
  src/components/common/Header.tsx
  src/components/home/CardWidget.tsx
  src/components/write/ClickableSVG.tsx
  src/components/write/Letter.tsx
  src/components/write/StatusBar.tsx
  src/pages/home/HomePage.tsx
  src/pages/write/LetterCreatePage.tsx
  src/pages/write/WritePage.tsx
  src/provider/route/Router.tsx
  src/styles/colors.ts
  src/types/write/write.ts
Labels: Style 🎨

#25 Feature/#22 sealing wax
  mock/lettersData.ts
  public/images/blackWax.png
  public/images/blueWax.png
  public/images/greenWax.png
  public/images/redWax.png
  public/images/yellowWax.png
  src/components/letterbox/Envelope.tsx
  src/components/letterbox/Envelope/Envelope.tsx
  src/components/letterbox/Envelope/EnvelopeBody.tsx
  src/components/letterbox/Envelope/EnvelopeStyles.ts
  src/components/letterbox/Envelope/EnvelopeText.tsx
  src/components/letterbox/Envelope/EnvelopeTextStyles.ts
  src/components/letterbox/Envelope/SaveIconButton.tsx
  src/components/letterbox/LetterList.tsx
  src/components/letterbox/Pagination.tsx
  src/components/letterbox/Tabs.tsx
  src/pages/letterbox/LetterDetail.tsx
  src/pages/letterbox/LetterDetail/ContentSection.tsx
  src/pages/letterbox/LetterDetail/LetterDetail.styles.ts
  src/pages/letterbox/LetterDetail/LetterDetail.tsx
  src/pages/letterbox/LetterDetail/NavigationSection.tsx
  src/pages/letterbox/LetterDetail/QuoteSection.tsx
  src/pages/letterbox/LetterDetail/RecipientInfo.tsx
  src/pages/letterbox/LetterDetail/SenderInfo.tsx
  src/pages/letterbox/LetterDetail/VisibilityToggle.tsx
  src/pages/letterbox/LetterboxPage.styles.ts
  src/pages/letterbox/LetterboxPage.tsx
  yarn.lock
Labels: Feat 🔧, Refactor ♻️, Style 🎨

#29 :sparkles: feat:#27 전역 axios 생성 및 실링 왁스 api 추가
  .env
  src/apis/axios-instance.ts
  src/apis/letter.ts
  src/hooks/query/useGetAvailableWax.ts
  src/types/write/base.ts
  src/types/write/waxResponse.ts
Labels: Feat 🔧

#33 :sparkles: feat: 열린 우편 봉투 프레임 내 이미지 불러오기 구현
  src/components/letterbox/Envelope/Envelope.tsx
  src/components/letterbox/Envelope/EnvelopeBody.tsx
  src/components/letterbox/Envelope/EnvelopeStyles.ts
  src/components/letterbox/LetterList.tsx
Labels: Feat 🔧, Style 🎨
